body {
  margin: 0;
  background: #fff;
  color: #373938;
  font: 16px/20px  sans-serif;
  min-width: 320px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
}
img {
  border-style: none;
}
a,
input[type=submit] {
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  text-decoration: none;
  color: #2a7fc5;
}
* {
  box-sizing: border-box;
}
a:hover,
a:focus {
  outline: none;
}
input,
textarea,
select {
  font: 100% Arial, Helvetica, sans-serif;
  vertical-align: middle;
  color: #000;
  outline: none;
}
header,
footer,
article,
section,
nav,
figure,
aside {
  display: block;
}
figure {
  margin: 0;
  padding: 0;
}
input[type='submit']::-moz-focus-inner {
  border: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
::-webkit-input-placeholder {
  opacity: 1;
  color: #a2a2a2;
}
::-moz-placeholder {
  opacity: 1;
  color: #a2a2a2;
}
:-moz-placeholder {
  opacity: 1;
  color: #a2a2a2;
}
:-ms-input-placeholder {
  opacity: 1;
  color: #a2a2a2;
}
input[type="image"] {
  padding: 0;
  border: none;
}
input[type=text],
input[type=password],
input[type=file],
input[type=submit],
textarea {
  border-radius: 0;
}
form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
.description_logo {
    font-size: 12px !important;
    line-height: 13px !important;
    text-align: center;
    float: left;
    position: relative;
}
.img-content {width:100%;}
.img-content-us {
    width: auto;
    float: left;
    padding: 4px 32px 0px 0px;
}
.nmop_img {
width: 200px;
float: left;
padding-right: 20px;
}
.content ul li a {
font-size: 14px;
text-decoration: underline;
}
#wrapper {
  width: 100%;
  overflow: hidden;
}
.holder:after,
.wrap-col:after,
.title-box:after {
  content: "";
  display: block;
  clear: both;
}
.cena_header {
    color: #1a1a1a;
    font: bold 30px/33px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
    position: relative;
    top: -21px;
}
.float-left {float:left;}
.float-right {float:right;}
.holder {
  max-width: 1230px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
#header .top-bar {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px 20px;
}
#header .top-bar div {
  width: 33%;
}
#header .top-bar div:nth-child(2) {
  max-width: 320px;
}
#header .top-bar div:last-child {
  text-align: right;
}
#header .logo {
  display: block;
  max-width: 156px;
  position: relative;
  top: -6px;
  left:10px;
  margin-top: 11px;
}
#header strong {
  font: bold 32px/36px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
  display: block;
  letter-spacing: 1px;
}
#header span {
  display: block;
  font: 28px/32px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
}
#header a {
  text-decoration: underline;
  font: 14px/17px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
}
#header a:hover {
  text-decoration: none;
}
#header .tel {
  /* color: #2a7fc5; */
  font: bold 28px/32px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
  display: block;
}
#header .tel .mark {
  display: inline;
  color: #373938;
  font-weight: bold;
}
#header .tel-red {
  color: #f2372b;
  font: bold 18px/22px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
  display: none;
}
#header .call {
  text-decoration: underline;
  font: 18px/22px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
  margin-top: 18px;
  display: block;
}
#header .call:hover {
  text-decoration: none;
}
#header .social-network {
  float: right;
  max-width: 150px;
  overflow: hidden;
  padding: 10px 0 0;
}
#header .social-network li {
  display: inline-block;
  margin: 0 0 0 6px;
}
#header .social-network li:first-child {
  margin: 0;
}
#header .social-network li a {
  display: block;
  background: url('../images/sprite.png') no-repeat;
  width: 28px;
  height: 28px;
  overflow: hidden;
  text-indent: -9999px;
  filter: grayscale(100%);
}
#header .social-network li a:hover {
  filter: none;
}
#header .social-network li a.vk {
  background-position: 0 0;
}
#header .social-network li a.facebook {
  background-position: 0 -30px;
}
#header .social-network li a.instagram {
  background-position: 0 -59px;
}
#header .social-network li a.youtube {
  background-position: 0 -91px;
}
#header .nav-bar {
  border: solid #d9d9d9;
  border-width: 1px 0;
  padding: 14px 0;
  background: #fff;
}
#header .nav-bar .holder {
  position: relative;
}
#header .nav-bar .holder:before {
  content: "";
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
  position: absolute;
  top: -15px;
  bottom: -15px;
  left: 0;
  z-index: -1;
}
#header .nav-bar.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 52px;
  background: #fff;
  z-index: 10;
  padding: 0 0 3px;
}
#header .nav-bar.fixed-header .holder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
}
#header .nav-bar.fixed-header .holder:before {
  bottom: -3px;
  box-shadow: 0 9px 19px -16px rgba(0, 0, 0, 0.2);
}
#header .nav-bar.fixed-header .logo-fix {
  display: block;
  max-width: 50px;
  width: 100%;
}
#header .nav-bar.fixed-header ul {
  max-width: 655px;
  width: 100%;
}
#header .nav-bar.fixed-header ul li a {
  color: #4b98d6;
  font: 18px/22px  sans-serif;
  position: relative;
}
#header .nav-bar.fixed-header ul li a:hover {
  text-decoration: none;
}
#header .nav-bar.fixed-header ul li a:hover:after {
  background: none;
  box-shadow: none;
}
#header .nav-bar.fixed-header ul li a:after {
  content: "";
  background: #2A81C6;
  width: 100%;
  height: 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.65);
  position: absolute;
  bottom: 0;
  left: 0;
}
#header .nav-bar.fixed-header .tel-box {
  display: block;
  text-align: center;
}
#header .nav-bar.fixed-header .tel {
  margin: 0 0 -6px;
  font-size: 24px;
}
#header .nav-bar.fixed-header .call {
  font-size: 14px;
  margin:0;
}
#header .nav-bar ul {
  display: flex;
  justify-content: space-between;
  max-width: 870px;
  margin: 0 auto;
}
#header .nav-bar ul li a {
  font: 24px/27px  sans-serif;
  color: #373938;
  text-decoration: none;
}
#header .nav-bar ul li a:hover {
  text-decoration: underline;
}
.opener,
.logo-fix,
.tel-box {
  display: none;
}
/* other bitrix */
.b24-widget-button-position-bottom-right
{right:45px !important; bottom:80px !important;}
/* price-table */
.price-table {
  width: 100%;
  border-collapse: collapse;
  font: 15px/18px sans-serif;
  margin-bottom: 40px;
  overflow: auto;
  display: block;
}
.price-table th {
  background: #4ba1e4;
  font: 16px/19px sans-serif;
  color: #fff;
  padding: 10px 5px;
}
.price-table th:last-child {
  border-right: 1px solid #4ba1e4;
}
/*.price-table th:nth-child(2) {
  border-right: 1px solid #4ba1e4;
}*/
.price-table tr {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}
.price-table tr:first-child {
  border: none;
}
.price-table td {
  border-left: 1px solid #000;
  padding: 12px 25px;
}
.price-table td:nth-child(2) {
  text-align: center;
}
.price-table td:last-child {
  border-right: 1px solid #000;
}
.service-box .main .content li{
	list-style: disc;
	list-style-position: inside;
}
.service-box .main .content ul {margin-bottom:20px;}
/*intro-box*/
.intro-box {
  padding: 65px 15px 85px;
  background: url(../images/bg_img_new.jpg) no-repeat 100% 160px;
  font: 16px/20px  sans-serif;
}
.intro-box h1 {
  font: 48px/52px  sans-serif;
  margin: 0 0 20px;
  background: #fff;
  width: 70%;
}
.intro-box .wrap-col {
  display: flex;
  justify-content: space-between;
}
.intro-box .col {
  max-width: 48%;
  width: 100%;
}
.intro-box .col .text {
  background: #fff;
  margin: 0 0 30px;
  font-size:12px;
}
.intro-box .col strong {
  font: bold 30px/33px  sans-serif;
  display: block;
  margin: 0 0 35px;
  color:#f2372b;
}
.intro-box .col a {
  display: block;
  max-width: 240px;
  height: 54px;
  background: #4ba1e4;
  color: #fff;
  text-align: center;
  font: bold 30px/33px  sans-serif;
  padding: 9px;
  border-radius: 4px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.3);
  margin: 0 0 28px;
}
.intro-box .col:first-child {
  position: relative;
}
.intro-box .col .text-info {
  display: inline-block;
  font: 30px/33px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
  position: relative;
}
.intro-box .col > span {
  position: absolute;
  right: 57px;
  bottom: 14px;
  font: 30px/33px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
}
.intro-box .col > span span {
  font-weight: bold;
}
.intro-box .col ul {
  display: inline-block;
  position: relative;
  margin: 0 0 0 25px;
  font: bold italic 24px/27px  sans-serif;
}
.intro-box .col ul li {
  display: inline-block;
  margin: 0 0 0 8px;
  padding: 10px;
  border: 3px solid;
  color: #373938;
  background: #fff;
  -moz-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
}
.intro-box .col ul li:first-child {
  margin: 0;
}
.intro-box .col ul li:hover {
  cursor: pointer;
}
.intro-box .col ul li:nth-child(1),
.intro-box .col ul li:nth-child(2) {
  border-color: #2a7fc5;
}
.intro-box .col ul li:nth-child(1):hover,
.intro-box .col ul li:nth-child(2):hover,
.intro-box .col ul li.active:nth-child(1),
.intro-box .col ul li.active:nth-child(2) {
  background: #2a7fc5;
  color: #fff;
}
.intro-box .col ul li:nth-child(3),
.intro-box .col ul li:nth-child(4) {
  border-color: #f2372b;
}
.intro-box .col ul li:nth-child(3):hover,
.intro-box .col ul li:nth-child(4):hover,
.intro-box .col ul li.active:nth-child(3),
.intro-box .col ul li.active:nth-child(4) {
  background: #f2372b;
  color: #fff;
}
.intro-box .col .box {
  float: right;
  margin: 0 0 55px;
  max-width: 480px;
  width: 100%;
  position: relative;
  border: 3px solid;
  padding: 0 119px 0 20px;
  height: 120px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  font: bold 20px/24px  sans-serif;
}
.intro-box .col .box:after {
  content: "";
  position: absolute;
  top: 0;
  right: -1px;
  width: 118px;
  height: 117px;
}
.intro-box .col .box:first-child {
  border-color: #f2372b;
}
.intro-box .col .box:first-child:after {
  background: url(../images/img-1.jpg) no-repeat;
}
.intro-box .col .box:last-child {
  border-color: #2a7fc5;
}
.intro-box .col .box:last-child:after {
  background: url(../images/img-2.jpg) no-repeat;
}
.intro-box .col .box p {
  max-width: 315px;
  margin: 0;
}
h2 {
  font: bold 30px/33px  sans-serif;
}
/*list-box*/
.list-box {
  padding: 0 0 110px;
}
.list-box h2 {
  text-align: center;
  margin: 0 0 60px;
}
.list-box .wrap-list {
  background: #F8F8F8;
  padding: 12px 0 12px;
  border-bottom: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
.list-box ul {
  display: flex;
  justify-content: space-between;
  max-width: 1110px;
  margin: 0 auto;
  text-align: center;
}
.list-box ul li {
  max-width: 215px;
}
.list-box ul img {
  height: 60px;
  width: auto;
  margin: 0 auto 25px;
}
/*text-box*/
.text-box {
  padding: 0 15px 50px;
}
.text-box h2 {
  margin: 0 0 50px;
}
.text-box .link {
  display: block;
  max-width: 300px;
  width: 100%;
  height: 40px;
  padding: 7px;
  text-align: center;
  font: bold 20px/23px  sans-serif;
  background: #4b98d6;
  color: #fff;
  border-radius: 7px;
  margin: 0 auto;
  box-shadow: 0 7px 16px rgba(75, 152, 214, 0.46);
}
.text-box .link:hover {
  color: #373938;
}
.text-box .wrap-col {
  display: flex;
  margin: 0 0 70px;
}
.text-box .wrap-col h3 {
  font: bold 24px/27px  sans-serif;
  margin: 0 0 30px 30px;
}
.text-box .wrap-col p {
  margin: 0 0 25px;
}
/*23.10.2018*/
.text-box .wrap-col .col {
  /*max-width: 50%;*/
  width: 100%;
  padding: 0 30px 0 0;
}
.text-box .wrap-col .col:last-child h3 {
  color: #f2372b;
}
.text-box .wrap-col .col h3 {
  color: #2a7fc5;
}
.text-box .wrap-col .col .wrap-col {
  justify-content: space-between;
  margin: 0;
}
.text-box .wrap-col .col .wrap-col .col {
  max-width: 56%;
  padding: 0;
}
.text-box .wrap-col .col .wrap-col .col:last-child {
  max-width: 44%;
  padding: 0 0 0 10px;
}
.link {
  border: 2px solid #4b98d6;
}
.link:hover {
  background: none;
}
/*calk-box*/
.calk-box {
  padding: 0 15px 20px;
}
.calk-box h2 {
  font: 24px/27px  sans-serif;
  margin: 0 0 20px;
}
.calk-box .wrap-col {
  display: flex;
}
.calk-box h3 {
  font: bold 18px/22px  sans-serif;
  margin: 0 0 15px;
}
.calk-box .aside {
  max-width: 250px;
  padding: 0 35px 0 0;
  width: 100%;
  font: 15px/18px  sans-serif;
}
.calk-box .aside h3 {
  margin: 0 0 25px;
}
.calk-box .aside p {
  margin: 0 0 35px;
}
.calk-box .aside .number {
  margin: 0 0 30px;
  display: flex;
}
.calk-box .aside .number .plus,
.calk-box .aside .number .minus {
  display: inline-block;
  background: url('../images/sprite.png') no-repeat;
  width: 38px;
  height: 38px;
  overflow: hidden;
  text-indent: -9999px;
}
.calk-box .aside .number .plus:hover,
.calk-box .aside .number .minus:hover {
  cursor: pointer;
}
.calk-box .aside .number .plus {
  background-position: 0 -130px;
  margin: 0 25px 0 0;
}
.calk-box .aside .number .minus {
  background-position: 0 -173px;
  margin: 0 0 0 20px;
}
.calk-box .aside .number #calk-num {
  display: block;
  text-align: left;
  margin: 0;
  background: none;
  width: 35px;
  font: 30px/33px  sans-serif;
}
.calk-box .aside .number .value {
  font: 30px/33px  sans-serif;
}
.calk-box .aside .add-info {
  font: bold 12px/15px  sans-serif;
  margin: 0 0 30px;
}
.calk-box .aside .add-info a {
  color: #2a81c6;
  margin: 0 0 0 12px;
  text-decoration: underline;
}
.calk-box .aside .add-info a:hover {
  text-decoration: none;
}
.calk-box .aside .result {
  white-space: nowrap;
  display: block;
  margin: 0 0 35px;
  font: 60px/63px  sans-serif;
}
.calk-box .aside .result img {
  display: inline-block;
  max-width: 29px;
  margin: 0 0 0 15px;
}
.calk-box .aside .link {
  display: block;
  height: 40px;
  padding: 7px 0;
  text-align: center;
  font: bold 18px/22px  sans-serif;
  background: #4b98d6;
  border: 2px solid #4b98d6;
  color: #fff;
  border-radius: 7px;
  margin: 0 auto;
  box-shadow: 0 7px 16px rgba(75, 152, 214, 0.46);
}
.calk-box .aside .link:hover {
  color: #373938;
  background: none;
}
.calk-box .table-box {
  width: 100%;
}
.calk-box .table-box p {
  margin: 0 0 50px;
}
.calk-box .table-box h4 {
  font: bold 16px/19px  sans-serif;
  margin: 0 0 30px;
}
.calk-box .table-box .table-title {
  margin: 0 0 13px;
}
.calk-box .table-box table {
  width: 100%;
  margin: 0 0 20px;
}
.calk-box .table-box table td {
  padding: 13px 0;
}
.calk-box .table-box table td:last-child {
  text-align: right;
}
.calk-box .table-box table .cold {
  color: #4b98d6;
}
.calk-box .table-box table .hot {
  color: #f2372b;
}
.calk-box .table-box table .mark {
  font-size: 14px;
}
.calk-box .table-box table .mark strong {
  font-weight: bold;
}
.calk-box .table-box table .mark-total {
  font-size: 14px;
  font-weight: bold;
}
.calk-box .table-box table .mark-total .total {
  font-size: 24px;
}
.calk-box .table-box em {
  display: block;
  margin: 0 0 40px;
}
.calk-box .table-box .result-info h4 {
  margin: 0 0 15px;
}
.calk-box .table-box .result-info p {
  margin: 0 0 15px;
}
.calk-box .table-box .result-info ul {
  display: flex;
  justify-content: space-between;
}
.calk-box .table-box .result-info ul li {
  width: 100%;
  max-width: 100px;
  text-align: center;
}
.calk-box .table-box .result-info ul li .img-holder {
  max-width: 73px;
  margin: 0 auto 10px;
}
/*gallery-box*/
.gallery-box {
  padding: 0 75px 95px;
}
.gallery-box h2 {
  margin: 0 -60px 50px;
}
.gallery-box .gallery .slide {
  border: 3px solid #4b98d6;
  margin: 0 30px;
  padding: 20px 20px;
}
.gallery-box .gallery .slide h3 {
  font: bold 18px/22px  sans-serif;
  margin: 0 0 50px;
  position: relative;
}
.gallery-box .gallery .slide h3:after {
  content: "";
  background: #4b98d6;
  height: 8px;
  width: 110px;
  position: absolute;
  left: 0;
  bottom: -23px;
}
.gallery-box .gallery .slide .wrap-col {
  display: flex;
}
.gallery-box .gallery .slide .col {
  width: 100%;
  max-width: 90px;
}
.gallery-box .gallery .slide .col:last-child {
  max-width: 100%;
  padding: 0 0 0 30px;
}
.gallery-box .slick-prev,
.gallery-box .slick-next {
  display: block;
  background: url('../images/sprite.png') no-repeat 0 -226px;
  width: 17px;
  height: 29px;
}
.gallery-box .slick-next {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  margin: -14px 0 0 0;
}
.gallery-box .slick-prev::before,
.gallery-box .slick-next::before {
  content: "";
}
.min_text {font-size:9px;line-height: 10px;}
/*article*/
.article {
  padding: 0 15px 85px;
}
.article h2 {
  margin: 0 0 25px;
}
.article em {
  display: block;
  margin: 0 0 30px;
}
.article p {
  /*margin: 0 0 20px 25px;*/
}
.article ul li {list-style:inside;}
.article ol li {list-style:disclosure-closed;list-style-position: inside;}
.article .col:first-child {
  float: right;
  margin: 0 0 20px 85px;
  max-width: 310px;
  width: 100%;
}
.article ul {
  margin: 0 0 20px;
}
/*footer*/
#footer {
  border-bottom: 18px solid #fbfbfb;
  position: relative;
}
#footer:after {
  content: "";
  background: #dadada;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
}
#footer .footer-bar {
  border-top: 1px solid #aaadb3;
  border-bottom: 1px solid #dadada;
  padding: 30px 0 25px;
  box-shadow: 0 -7px 25px rgba(0, 0, 0, 0.05) inset;
}
#footer .footer-bar a {
  display: block;
  font-size: 14px;
  text-decoration: underline;
  margin: 0 0 15px;
}
#footer .footer-bar a:hover {
  text-decoration: none;
}
#footer .footer-bar .copyright {
  font: 12px/15px  sans-serif;
}
#footer .footer-bar .tel {
  font: 24px/27px  sans-serif;
  color: #000;
}
#footer .footer-bar p {
  margin: 0;
}
#footer .footer-bar a {margin-top:10px;}
#footer .holder {
  display: flex;
  justify-content: space-between;
}
#footer .holder > div {
  margin: 20px 0 0;
}
#footer .holder > div:nth-child {
  margin: 0;
}
#footer .logo {
  display: block;
  max-width: 157px;
  width: 100%;
  margin: 0 0 15px;
}
#footer .footer-nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px;
}
#footer .footer-nav div {
  margin: 0;
}
#footer .footer-nav div:nth-child(2) {
  max-width: 630px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#footer .footer-nav .info {
  color: #000;
  font-size: 10px;
  margin: 0;
}
#footer .footer-nav .info a {
  color: #f2372b;
}
#footer .footer-nav .info a:hover {
  text-decoration: underline;
}
#footer .footer-nav span {
  font: bold 14px/17px  sans-serif;
  margin: 0 50px 0 0;
}
#footer .footer-nav ul {
  max-width: 510px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font: 14px/17px  sans-serif;
}
#footer .footer-nav ul a {
  text-decoration: underline;
}
#footer .footer-nav ul a:hover {
  text-decoration: none;
}
#footer .footer-nav .social-network {
  max-width: 150px;
  overflow: hidden;
}
#footer .footer-nav .social-network li {
  display: inline-block;
  margin: 0 0 0 11px;
}
#footer .footer-nav .social-network li a {
  display: block;
  background: url('../images/sprite.png') no-repeat;
  width: 26px;
  height: 26px;
  overflow: hidden;
  text-indent: -9999px;
  filter: grayscale(100%);
}
#footer .footer-nav .social-network li a:hover {
  filter: none;
}
#footer .footer-nav .social-network li a.vk {
  background-position: 0 0;
}
#footer .footer-nav .social-network li a.facebook {
  background-position: 0 -30px;
}
#footer .footer-nav .social-network li a.instagram {
  background-position: 0 -59px;
}
#footer .footer-nav .social-network li a.youtube {
  background-position: 0 -91px;
}
/*modals*/
#overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: none;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  cursor: default;
}
.close {
  position: absolute;
  top: -38px;
  right: -38px;
  background: url("../images/bg-close.png") no-repeat;
  width: 31px;
  height: 31px;
  overflow: hidden;
  text-indent: -9999px;
}
.popup {
  display: none;
  top: -100%;
  right: 0;
  left: 50%;
  z-index: 1001;
  margin: 0;
  max-width: 700px;
  width:100%;
  position: fixed;
  background: #fff;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#modal-call,
#modal-mail {
  border: solid #4b98d6;
  border-width: 1px 1px 13px;
  padding: 20px 40px;
}
#modal-call h3,
#modal-mail h3 {
  text-align: center;
  font: bold 24px/27px  sans-serif;
  margin: 0 0 35px;
}
#modal-call .form,
#modal-mail .form {
  width: 100%;
}
#modal-call .form select,
#modal-mail .form select,
#modal-call .form input[type=text],
#modal-mail .form input[type=text] {
  width: 100%;
  background: none;
  border: solid #4b98d6;
  border-width: 0 0 1px;
  margin: 4px 0 20px;
  color: #575757;
  font: 15px/22px  sans-serif;
}
.info-user {
    font-size: 11px;
    color: #545454;
}
#modal-call .form select,
#modal-mail .form select {
  border: 1px solid #4b98d6;
  height: 35px;
}
#modal-call .form textarea,
#modal-mail .form textarea {
  resize: none;
  border: 2px solid #11a5d7;
  padding: 15px;
  margin: 0 0 19px;
  font: 16px/19px  sans-serif;
  height: 93px;
  width: 100%;
}
#modal-call .form span,
#modal-mail .form span {
  display: block;
  margin: 0 0 10px;
}
#modal-call .form span a:hover,
#modal-mail .form span a:hover {
  text-decoration: underline;
}
#modal-call .form input[type=submit],
#modal-mail .form input[type=submit] {
  display: block;
  border: none;
  max-width: 185px;
  width: 100%;
  height: 40px;
  padding: 7px;
  text-align: center;
  font: bold 20px/23px  sans-serif;
  background: #4b98d6;
  color: #fff;
  border-radius: 7px;
  margin: 0 auto;
  box-shadow: 0 7px 16px rgba(75, 152, 214, 0.46);
}
#modal-call .form input[type=submit]:hover,
#modal-mail .form input[type=submit]:hover {
  color: #373938;
}
.submit{
	display: block;
	border: none;
	max-width: 185px;
	width: 100%;
	height: 40px;
	padding: 7px;
	text-align: center;
	font: bold 20px/23px  sans-serif;
	background: #4b98d6;
	color: #fff;
	border-radius: 0px;
	margin: 0 auto;
	cursor:pointer;
	box-shadow: 0 7px 16px rgba(75, 152, 214, 0.46);
}
.submit:hover {color: #373938;}
.submit:focus {box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);}
/*fixed link*/
.call-link,
.mail-link {
  position: fixed;
  right: 40px;
  border: 3px solid #2a7fc5;
  z-index: 1;
  transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
}
.call-link {
  bottom: 75px;
  width: 56px;
  height: 45px;
  padding: 5px 10px;
  overflow: hidden;
  text-indent: -9999px;
  background-color: #fff;
  background-image: url('../images/sprite.png');
  background-position: 10px -265px;
}
.call-link:hover {
  background-color: #11a5d7;
  background-image: url('../images/sprite.png');
  background-position: 10px -333px;
}
.mail-link {
  bottom: 23px;
  width: 220px;
  color: #373938;
  font: 16px/19px  sans-serif;
  padding: 8px 10px 8px 10px;
  background: #fff url('../images/sprite.png') no-repeat 108% -269px;
}
.mail-link:hover {
  color: #fff;
  background: #11a5d7 url('../images/sprite.png') no-repeat 93% -372px;
}
/*contact page*/
.breadcrumbs {
  margin: 45px 0 32px;
  font: 12px/15px  sans-serif;
}
.breadcrumbs li {
  padding: 0 15px 0 0;
  display: inline-block;
  position: relative;
  color: #5c97ff;
  background: url(../images/bg-arrow.png) no-repeat 97% 5px;
}
.breadcrumbs li:last-child {
  background: none;
}
.breadcrumbs li a {
  color: #485260;
}
.contact .wrap-col {
  margin: 0 0 125px;
}
.contact .col {
  float: left;
  width: 42%;
  padding: 0 40px 0 0;
}
.contact .col ul li {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  padding: 0 15px 0 0;
  box-sizing: border-box;
  margin: 0 0 50px;
}
.contact .col h3 {
  color: #000;
  font: bold 18px/22px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin: 0 0 8px;
}
.contact .col strong {
  display: block;
  font: 18px/22px  sans-serif;
}
.contact .col p {
  margin: 0;
}
.contact .col address {
  font: 16px/22px  sans-serif;
}
.contact .col .link {
  display: block;
  max-width: 300px;
  width: 100%;
  height: 40px;
  padding: 7px 0;
  text-align: center;
  font: bold 18px/22px  sans-serif;
  background: #4b98d6;
  color: #fff;
  border-radius: 1px;
  margin: 0 auto;
  box-shadow: 0 7px 16px rgba(75, 152, 214, 0.46);
}
.contact .col .link:hover {
  color: #373938;
  background: none;
}
.contact .col:last-child {
  float: right;
  width: 58%;
  padding: 0;
}
/*article-text*/
.article-text h1 {
  text-align: center;
  margin: 0 0 40px;
  font: bold 30px/33px  sans-serif;
}
.article-text h2 {
  margin: 0 0 50px;
  font: bold 24px/27px  sans-serif;
}
.article-text p {
  /*margin: 0 0 50px;*/
  margin: 0 0 15px;
}
.article-text p strong {
  font-weight: bold;
  font-style: italic;
  padding: 0 0 0 17px;
}
.article-text .img-holder {
  max-width: 450px;
}
.article-text .img-holder:nth-child(3n+1) {float:right;}
.article-text ul {padding: 15px 12px;}
.article-text ul li {
	list-style: disc;
	list-style-position: inside;
}
/*chat*/
.chat-box h1 {
  text-align: center;
  margin: 0 0 20px;
  font: 30px/33px  sans-serif;
  color: #000;
}
.chat-box a {color:#fff; text-decoration:underline;}
.chat-box a:hover {color:#f1f1f1; text-decoration:none;}
.chat-box strong {
  text-align: center;
  display: block;
  font: 22px/26px  sans-serif;
  color: #a19b9b;
  margin: 0 0 65px;
}
.chat-box .list {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 15px 110px;
  overflow: hidden;
}
.chat-box .list li {
  border-radius: 30px;
  padding: 25px 30px;
  width: 100%;
  max-width: 700px;
  position: relative;
}
.chat-box .list li::after {
  content: "";
  position: absolute;
  bottom: 2px;
}
.chat-box .list li:nth-child(odd) {
  background: #e6e6e4;
  color: #6d645d;
  float: left;
  box-shadow: 9px 8px 20px rgba(0, 0, 0, 0.1);
  margin: 0 0 15px;
}
.chat-box .list li:nth-child(odd):after {
  background: url(../images/bg-conor.jpg) no-repeat;
  width: 27px;
  height: 22px;
  left: -15px;
}
.chat-box .list li:nth-child(even) {
  background: #2A81C6;
  color: #fff;
  float: right;
  box-shadow: -9px 8px 20px rgba(0, 0, 0, 0.1);
  margin: 0 0 45px;
}
.chat-box .list li:nth-child(even):after {
  background: url(../images/bg-conor-1.jpg) no-repeat;
  width: 26px;
  height: 24px;
  right: -15px;
}
.chat-box .list li p {
  margin: 0;
}
.main .content .title-box .link {
  float: right;
  max-width: 220px;
  width: 100%;
  height: 40px;
  padding: 7px;
  text-align: center;
  font: bold 20px/23px  sans-serif;
  background: #4b98d6;
  color: #fff;
  border-radius: 1px;
  box-shadow: 0 7px 16px rgba(75, 152, 214, 0.46);
}
/*service-box*/
.main {
  display: flex;
  margin: 0 0 50px;
}
.main .content {
  padding: 0 0 0 45px;
  width: 100%;
}
.main .content .title-box {
  margin: 0 0 40px;
}
.main .content .title-box h1 {
  float: left;
  font: bold 30px/33px  sans-serif;
  margin: 0;
}

.main .content .title-box .link:hover {
  color: #373938;
  background: none;
}
.main .content p {
  margin: 0 0 25px;
}
.main .content img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 0 30px;
}
.main .content h2 {
  font: bold 20px/27px  sans-serif;
  margin: 15px 0 30px;
}
.main .content .mark-text {
  max-width: 500px;
}
.main .content p strong {
  font-style: italic;
}
.main .aside {
  width: 100%;
  max-width: 260px;
  margin: 80px 0 0;
}
.main .aside h3 {
  font: bold 18px/22px  sans-serif;
  color: #000;
  margin: 0 0 10px 30px;
}
.main .aside ul {
  border: solid #ddd;
  border-width: 1px 0;
  padding: 30px 0 10px;
  font: 14px/17px  sans-serif;
}
.main .aside ul li {
  margin: 0 0 20px 30px;
}
.main .aside ul li a {
  color: #2a7fc5;
}
.main .aside ul li a:hover {
  text-decoration: underline;
}
/*services*/
.services-box h1 {
  text-align: center;
  font: bold 30px/33px  sans-serif;
  margin: 0 0 60px;
}
.services-box .link {
  display: block;
  max-width: 300px;
  width: 100%;
  height: 40px;
  padding: 7px;
  text-align: center;
  font: bold 20px/23px  sans-serif;
  background: #4b98d6;
  color: #fff;
  border-radius: 1px;
  margin: 0 auto;
  box-shadow: 0 7px 16px rgba(75, 152, 214, 0.46);
}
.services-box .link:hover {
  color: #373938;
  background: none;
}
.services-box .aside {
  max-width: 280px;
  margin: 0;
}
.services-box .aside .red-line,
.services-box .aside .blue-line {
  position: absolute;
  top: 65px;
  bottom: 75px;
  width: 5px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}
.services-box .aside .red-line:after,
.services-box .aside .blue-line:after,
.services-box .aside .red-line:before,
.services-box .aside .blue-line:before {
  content: "";
  position: absolute;
}
.services-box .aside .red-line {
  background: #f2372b;
  left: 0;
}
.services-box .aside .red-line:after {
  background: url(../images/arrow-red.png) no-repeat;
  width: 28px;
  height: 24px;
  top: -24px;
  left: 0;
}
.services-box .aside .red-line:before {
  background: url(../images/arrow-red-1.png) no-repeat;
  width: 27px;
  height: 23px;
  bottom: -23px;
  left: 0;
}
.services-box .aside .blue-line {
  right: 0;
  background: #2a7fc5;
}
.services-box .aside .blue-line:after {
  background: url(../images/blue-arrow.png) no-repeat;
  width: 28px;
  height: 24px;
  top: -24px;
  left: -21px;
}
.services-box .aside .blue-line:before {
  background: url(../images/blue-arrow-1.png) no-repeat;
  width: 27px;
  height: 23px;
  bottom: -23px;
  left: -22px;
}
.services-box .aside .serv-wrap {
  position: relative;
  /* padding: 0 45px; */
  padding: 0px;
}
.services-box .aside .service-list {
  border: none;
  margin: 0;
  margin-top:35px;
  padding: 0;
}
.services-box .aside .service-list li {
  margin: 0;
  padding: 0;
}
.services-box .aside .service-list li:nth-child(odd) a {
  border-color: #f2372b;
}
.services-box .aside .service-list li:nth-child(odd) a:after {
  /* background: url(../images/img-1.jpg) no-repeat; */
}
.services-box .aside .service-list li:nth-child(even) a {
  border-color: #2a7fc5;
}
.services-box .aside .service-list li:nth-child(even) a:after {
  /* background: url(../images/img-2.jpg) no-repeat; */
}
.services-box .aside .service-list li a {
  display: block;
  margin: 0 0 31px;
  position: relative;
  border: 1px solid;
  padding: 0 12px 0 40px;
  height: 72px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  font: 17px/20px sans-serif;
  color: #373938;
  -webkit-box-shadow: 0 0 20px -12px rgba(0,0,0,0.5);
  box-shadow: 0 0 20px -12px rgba(0,0,0,0.5);
}
.services-box .aside .service-list li a:after {
  content: "";
  position: absolute;
  top: 0;
  right: -1px;
  width: 118px;
  height: 117px;
}
.services-box .content {
  padding: 0 0 0 20px;
}
/*error 404 */
.error {
  font: 26px/30px  sans-serif;
}
.error .box {
  padding: 50px 0 135px;
  text-align: center;
}
.error .box a {
  color: #2a7fc5;
  text-decoration: underline;
  font-size: 18px;
  font-weight: bold;
}
.error .box a:hover {
  text-decoration: none;
}
.error strong {
  color: #f2372b;
  font: bold 120px/100px  sans-serif;
  display: block;
  margin: 0 0 60px;
}
.error strong span {
  color: #2a81c6;
}
.error p {
  text-transform: uppercase;
  margin: 0 0 80px;
}
.product-list{
	margin: 0 0 80px;
}
.main .aside ul.categories-list,
.main .aside ul.categories-list ul{
	/* border: none !important; */
}
.main .aside ul.categories-list li{
	/* margin: 0 0 20px; */
}
.main .aside ul.categories-list li a {
	color: #4b98d6;
    font: 14px/22px sans-serif;
    position: relative;
	margin: 0 0 5px 20px;
}
.main .aside ul.categories-list > li > a {
    color: #000;
	font: 16px/22px sans-serif;
	margin: 0 0 20px;
}
.main .aside ul.categories-list li > ul {
	/* padding-left: 30px; */
	border: 0;
}
.main .aside ul.categories-list li > ul > li{
	margin-left: 0;
}

@media screen and (max-width: 1023px) {
	.cena_header {
	background:#fff;
	display:block;
	top:3px;
  }
  .float-right {float:left;width: 100%;}
  .intro-box .col {max-width: 70%;}
  .intro-box {background:none;}
  /*header*/
  #header .top-bar div:nth-child(1) {
    width: 25%;
  }
  #header .top-bar div:nth-child(2) {
    width: 40%;
  }
  #header .top-bar div:nth-child(3) {
    width: 35%;
  }
  #header .top-bar strong {
    font: bold 29px/33px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
  }
  #header .social-network li {
    display: inline-block;
    margin: 0 0 0 3px;
  }
  #header .nav-bar.fixed-header ul {
    max-width: 475px;
  }
  #header .nav-bar.fixed-header ul li a {
    font: 16px/20px  sans-serif;
  }
  .intro-box {
    padding: 35px 15px 35px;
  }
  .intro-box h1 {
    font: 36px/45px  sans-serif;
  }
  .intro-box .col a {
    margin: 25px 0 0;
  }
  .intro-box .col > span {
    right: auto;
    bottom: -20px;
    left: 0;
  }
  .list-box {
    padding: 35px 0 35px;
  }
  .list-box h2 {
    margin: 0 0 35px;
  }
  .text-box {
    padding: 0 15px 35px;
  }
  .text-box h2 {
    margin: 0 0 35px;
  }
  .text-box > .wrap-col {
    flex-direction: column;
    margin: 0 0 35px;
  }
  .text-box > .wrap-col > .col {
    max-width: 100%;
    padding: 0;
  }
  .text-box > .wrap-col > .col h3 {
    margin: 0 0 20px;
  }
  .calk-box {
    padding: 0 15px 35px;
  }
  .gallery-box {
    padding: 0 75px 35px;
  }
  .gallery-box .slick-dotted.slick-slider {
    margin: 0;
  }
  .gallery-box .gallery-box h2 {
    margin: 0 -60px 35px;
  }
  .call-link,
  .mail-link {
    right: 15px;
  }
  #footer .footer-bar {
    padding: 25px 0 25px;
  }
  #footer .holder > div {
    padding: 0 0 0 10px;
  }
  #footer .holder > div:first-child {
    padding: 0;
    max-width: 115px;
  }
  #footer .footer-bar a {
    margin: 0 0 5px;
  }
  #footer .footer-bar .tel {
    font: 20px/23px  sans-serif;
  }
  #footer .footer-nav div {
    padding: 0 0 0 10px;
  }
  #footer .footer-nav div:first-child {
    padding: 0;
  }
  #footer .footer-nav span {
    margin: 0 10px 0 0;
    font-size: 12px;
  }
  #footer .footer-nav ul {
    font-size: 12px;
  }
  #footer .footer-nav .social-network li {
    margin: 0 0 0 5px;
  }
  /*article*/
  .article-text p,
  .article-text h2 {
    margin: 0 0 25px;
  }
  /*chat*/
  .chat-box strong {
    margin: 0 0 35px;
  }
  .chat-box .list {
    padding: 0 15px 50px;
  }
  .chat-box .list li:nth-child(2n+1) {
    margin: 0 0 15px 50px;
    width: auto;
  }
  .chat-box .list li:nth-child(2n) {
    margin: 0 50px 45px 0;
    width: auto;
  }
  /*contact*/
  .contact .col h3 {
    margin: 0;
  }
  .contact .col ul li {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 0 15px;
  }
  .contact .col ul li:last-child {
    margin: 0 0 25px;
  }
  /*service*/
  .main .aside {
    max-width: 200px;
  }
  .main .aside h3 {
    margin: 0 0 10px 10px;
  }
  .main .aside ul li {
    margin: 0 0 20px 10px;
  }
  .main .content {
    padding: 0 0 0 25px;
  }
  .main .content h2 {
    margin: 0 0 25px;
  }
  .main .content .title-box .link {
    max-width: 190px;
  }
  .services-box h1 {
    margin: 0 0 40px;
  }
  .services-box .aside {
    max-width: 480px;
  }
  .services-box .aside .serv-wrap {
    padding: 0 25px;
  }
/*  .services-box .aside .service-list li a {
    padding: 0 119px 0 10px;
  } */
  .services-box .aside .service-list li a {
    padding: 0 0px 0 10px;
  }
}
@media screen and (max-width: 767px) {
  /*24 10 2018*/
/*btn_up*/
.main .content .title-box .link {
    width: 100%;
    min-width: 100%;
    float: none;
    margin: 15px auto;
    text-align: center;
    display: inline-block;
}
  #header .top-bar {
    padding: 5px 15px 10px;
  }
  #header .top-bar div:nth-child(1) {
    width: 40%;
    padding: 0 15px 0 0;
    max-width: 117px;
  }
  #header .top-bar div:nth-child(2) {
    display: none;
  }
  #header .top-bar div:nth-child(3) {
    width: 60%;
  }
  #header .top-bar strong {
    font: bold 20px/20px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
  }
  #header .top-bar strong .mark {
    font-size: 20px;
  }
  #header .top-bar .logo {
    margin: 12px 0 0;
  }
  #header .top-bar .red-tel {
    font: bold 16px/16px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
  }
  #header .top-bar .call {
    font-size: 16px;
  }
  #header .nav-bar {
    box-shadow: none;
  }
  #header .nav-bar ul {
    display: none;
    background: #fff;
    border: 1px solid #5c97ff;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.67);
    position: absolute;
    top: 14px;
    left: 15px;
    width: 250px;
    margin: 0;
    padding: 15px 20px 5px;
    z-index: 100;
  }
  #header .nav-bar ul li {
    margin: 0 0 10px;
  }
  #header .nav-bar ul li a {
    font: 18px/22px  sans-serif;
  }
  .opener {
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: -8px;
    left: 15px;
  }
  .opener span {
    display: block;
    height: 3px;
    background: #5c97ff;
    margin: 4px 0 0;
  }
  .opener span:first-child {
    margin: 0;
  }
  .breadcrumbs {
    margin: 15px 0 15px;
  }
  /*services*/
  .main {
    flex-direction: column;
  }
  .main .content {
    padding: 0;
  }
  .main .content h2 {
    font: bold 20px/23px  sans-serif;
    margin: 0 0 15px;
  }
  .main .content p,
  .main .content img {
    margin: 0 0 15px;
  }
  .services-box h1 {
    margin: 0 0 20px;
    font: bold 20px/23px  sans-serif;
  }
  .services-box .main .serv-wrap {
    padding: 0 26px;
  }
  .services-box .main .aside {
    max-width: 100%;
  }
  .services-box .main .aside .service-list li a {
    margin: 0 0 15px;
  }
  .services-box .main .aside .blue-line,
  .services-box .main .aside .red-line {
    bottom: 88px;
  }
  /*service*/
  .main {
    margin: 0 0 15px;
  }
  .main .aside {
    max-width: 100%;
    padding: 0;
    margin: 0 0 25px;
  }
  .main .aside h3 {
    text-align: center;
    margin: 0 0 15px;
  }
  .main .aside ul {
    text-align: center;
    padding: 13px 0 10px;
  }
  .main .aside ul li {
    margin: 0 0 10px;
  }
  .main .content .title-box {
    margin: 0 0 15px;
  }
  .main .content .title-box h1 {
    font: bold 23px/26px  sans-serif;
  }
  .main .content .title-box .link {
    max-width: 115px;
    height: 33px;
    padding: 4px 5px;
    font: bold 15px/22px  sans-serif;
  }
  /*index*/
  .intro-box {
    background: url(../images/bg-img-1.jpg) no-repeat 50% 100%;
    padding: 35px 15px 15px;
  }
  .intro-box {background:none;}
  .intro-box h1 {
    font: 23px/27px  sans-serif;
  }
  .intro-box .wrap-col {
    flex-direction: column;
  }
  .intro-box .col {
    max-width: 100%;
  }
  .intro-box .col:first-child {
    margin: 0 0 40px;
  }
  .intro-box .col > span {
    text-shadow: 1px 1px 1px #ffffff;
    font: 23px/26px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
    bottom: -25px;
    background: #fff;
    padding: 3px;
  }
  .intro-box .col .text {
    margin: 0 0 5px;
    padding: 2px 5px;
  }
  .intro-box .col strong {
    font: bold 20px/23px  sans-serif;
    margin: 0 0 10px;
    text-shadow: 1px 1px 1px #ffffff;
  }
  .intro-box .col .text-info {
    font: 23px/23px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
    background: #fff;
    padding: 3px;
    margin: 10px 0;
  }
  .intro-box .col a {
    height: 40px;
    font: bold 23px/26px  sans-serif;
    padding: 5px;
  }
  .intro-box .col ul {
    font: bold italic 20px/23px  sans-serif;
  }
  .intro-box .col ul li {
    padding: 5px;
  }
  .intro-box .col .box {
    padding: 0 119px 0 10px;
    margin: 0 0 15px;
    font: bold 18px/22px  sans-serif;
  }
  h2 {
    font: bold 23px/26px  sans-serif;
  }
  .list-box {
    padding: 25px 0 25px;
  }
  .list-box h2 {
    margin: 0 0 25px;
  }
  .list-box ul {
    flex-wrap: wrap;
  }
  .list-box ul li {
    max-width: 50%;
  }
  .text-box h2 {
    margin: 0 0 25px;
  }
  .text-box .wrap-col p {
    margin: 0 0 15px;
  }
  .text-box .wrap-col .col .wrap-col {
    flex-wrap: wrap;
    margin: 0 0 10px;
  }
  .text-box .wrap-col .col .wrap-col .col,
  .text-box .wrap-col .col .wrap-col .col:last-child {
    max-width: 100%;
    padding: 0;
  }
  .calk-box {
    padding: 0 15px 25px;
  }
  .calk-box .wrap-col {
    flex-wrap: wrap;
  }
  .calk-box .aside {
    max-width: 100%;
    padding: 0;
    margin: 0 0 25px;
    text-align: center;
  }
  .calk-box .aside h3 {
    margin: 0 0 10px;
  }
  .calk-box .aside p {
    margin: 0 0 15px;
  }
  .calk-box .aside .number {
    justify-content: center;
    margin: 0 0 15px;
  }
  .calk-box .aside .add-info {
    margin: 0 0 15px;
  }
  .calk-box .aside .result {
    margin: 0 0 15px;
    font: 40px/43px  sans-serif;
  }
  .calk-box .aside .result img {
    max-width: 19px;
    margin: 0 0 0 5px;
  }
  .calk-box .mob-hidden {
    display: none;
  }
  .calk-box .table-box p,
  .calk-box .table-box h4 {
    margin: 0 0 15px;
  }
  .calk-box .table-box .table-title {
    margin: 0;
  }
  .calk-box .table-box em {
    margin: 0 0 15px;
  }
  .calk-box .table-box table {
    font-size: 13px;
    margin: 0 0 10px;
  }
  .calk-box .table-box table td {
    padding: 5px 0;
  }
  .calk-box .table-box table .mark {
    font-size: 11px;
  }
  .calk-box .table-box table .mark-total {
    font-size: 11px;
  }
  .calk-box .table-box table .mark-total .total {
    font-size: 16px;
  }
  .gallery-box {
    padding: 0 30px 25px;
  }
  .gallery-box h2 {
    margin: 0 -15px 25px;
  }
  .gallery-box .gallery .slide {
    border: 3px solid #4b98d6;
    margin: 0 5px;
    padding: 10px;
  }
  .gallery-box .gallery .slide .col:last-child {
    padding: 0 0 0 10px;
  }
  .article {
    padding: 0 15px 25px;
  }
  .article h2 {
    margin: 0 0 15px;
  }
  .article em {
    margin: 0 0 15px;
  }
  .article .col:first-child {
    margin: 0 0 15px;
    max-width: 100%;
  }
  .article ul {
    margin: 0 0 15px;
  }
  .article p {
    margin: 0 0 15px;
  }
  #footer {
    border-bottom: 5px solid #fbfbfb;
  }
  #footer .holder {
    flex-direction: column;
    text-align: center;
  }
  #footer .holder > div {
    margin: 0;
    padding: 0;
    font-size: 14px;
  }
  #footer .holder div:first-child {
    max-width: 100%;
  }
  #footer .footer-bar {
    padding: 15px 0;
  }
  #footer .footer-bar .logo {
    max-width: 115px;
    margin: 0 auto 5px;
  }
  #footer .footer-bar .tel {
    font-size: 14px;
  }
  #footer .footer-nav {
    padding: 5px 15px;
  }
  #footer .footer-nav div:nth-child(2) {
    padding: 0 0 5px;
  }
  #footer .footer-nav div:nth-child(2) span {
    display: none;
  }
  #footer .footer-nav ul {
    font-size: 11px;
  }
  #footer .footer-nav .social-network {
    margin: 0 auto;
  }
  .popup {
    width: 300px;
  }
  #modal-call,
  #modal-mail {
    padding: 20px 15px;
  }
  #modal-call .form textarea,
  #modal-mail .form textarea,
  #modal-call .form textarea,
  #modal-mail .form textarea {
    padding: 5px;
    margin: 0 0 10px;
  }
  #modal-call h3,
  #modal-mail h3 {
    margin: 0 0 15px;
  }
  #modal-call .form input[type="text"],
  #modal-mail .form input[type="text"] {
    margin: 0 0 12px;
  }
  .close {
    top: -31px;
    right: -30px;
  }
  /*error page*/
  .cena_header {
	background:#fff;
	display:block;
	top:3px;
  }
  .float-right {float:left;width: 100%;}
  body {
    font: 14px/17px  sans-serif;
  }
  .error {
    font: 20px/23px  sans-serif;
  }
  .error .box {
    padding: 35px 0 35px;
  }
  .error strong {
    font: 700 80px/80px  sans-serif;
    margin: 0 0 35px;
  }
  .error p {
    margin: 0 0 35px;
  }
  .article-text h1 {
    margin: 0 0 35px;
    font: 700 20px/23px  sans-serif;
  }
  .article-text h2 {
    margin: 0 0 25px;
    font: 700 18px/22px  sans-serif;
  }
  .article-text .img-holder {
    float: none;
    max-width: 210px;
    margin: 0 auto;
  }
  .article-text p {
    margin: 0 0 15px;
  }
  /*chat page*/
  .chat-box h1 {
    font: 20px/23px  sans-serif;
    margin: 0 0 15px;
  }
  .chat-box strong {
    font: 16px/19px  sans-serif;
    margin: 0 0 25px;
  }
  .chat-box .list {
    padding: 0 15px;
  }
  .chat-box .list li {
    border-radius: 15px;
    padding: 10px 15px;
  }
  .chat-box .list li:after {
    bottom: -4px;
  }
  .chat-box .list li:nth-child(2n+1) {
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.1);
  }
  .chat-box .list li:nth-child(2n+1):after {
    left: -16px;
  }
  .chat-box .list li:nth-child(2n) {
    box-shadow: -5px 8px 10px rgba(0, 0, 0, 0.1);
    margin: 0 50px 25px 0;
  }
  .chat-box .list li:nth-child(2n):after {
    right: -16px;
  }
  /*conract page*/
  .contact .wrap-col {
    margin: 0;
  }
  .contact .col,
  .contact .col:last-child {
    float: none;
    width: 100%;
    padding: 0;
    margin: 0 0 25px;
  }
  .contact .col ul li,
  .contact .col:last-child ul li {
    margin: 0 0 10px;
  }
  .contact .col h3,
  .contact .col:last-child h3 {
    font-size: 16px;
  }
  .contact .col strong,
  .contact .col:last-child strong,
  .contact .col address,
  .contact .col:last-child address {
    font-size: 16px;
  }
}

#vkwidget1 {width:100% !important;}
#vk_groups {width:100% !important;}
.is_rtl .VK1  .widget_body .wcommunity_covered .wcommunity_mini .wcommunity_nano .is_2x .is_2x {width:100% !important}
/*02 04 2019*/
.new-box-for-parent {
    display: block;
}
.img-fix-size {
	width: 357px;
	height: 355px;
}
.main .content .box-now-for-content p {
	font-size: 18px;
	padding-top: 5px;
}


